@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

@media (max-width: 768px) {
  .header {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    height: 64px;
    justify-content: space-between;
    width: 460px;
    padding: 5px 15px;
  }

  .header img {
    height: 27px;
  }

  .header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24px;
  }

  .header div > span {
    display: flex;
    flex-direction: column;;
    background-color: #19C1CE;
    height: 4px;
    margin-bottom: 4px;
    width: 22px;
  }

  .hr-1 {
    background-color: #CFD3D8;
  }

  .main-div-1 {
    background-color: #F1F3F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 15px;
    
  }

  .main-div-1 h1 {
    color: #212429;
    font-family: Darker Grotesque;
    font-weight: 900;
    font-size: 40px;
    width: 310px;
    line-height: 40px;
    margin-bottom: 24px;
    padding-top: 40px;
  }

  .main-div-1 h1 > strong {
    color: #19C1CE;;
  }

  .main-div-1 p {
    color: #212429;
    font-family: Nunito Sans;
    font-size: 16px;
    width: 312px;
    line-height:24px;
    margin-bottom: 32px;
  }

  .main-div-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F1F3F5;
  }

  .section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1119px;
    box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
    background-color: #FFFFFF;
    width: 428px;
    border-radius: 2px;
    margin-bottom: 40px;
  }

  .section-form h2 {
    margin-top: 40px;
    margin-bottom: 16px;
    font-weight: 800;
    font-family: Darker Grotesque;
    width: 280px;
    font-size: 20px;
  }

  .section-form p {
    font-family: Nunito Sans;
    font-size: 14px;
    color: #7E8A98;
    margin-bottom: 32px;
  }

  .span-section-form {
    border: 1px solid #CFD3D8;
    width: 70%;
    margin-bottom: 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .label-form {
    font-family: Nunito Sans;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: 280px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .input-form {
    background-color: #FFFFFF;
    border: 2px solid #000000;
    height: 40px;
    box-sizing: border-box;
    box-shadow: inset 6px 6px 0px #EEFBFB;
    width: 510px;
    padding: 10px;
    margin-bottom: 16px;
  }

  .form-ul {
    width: 270px;
    margin-bottom: 32px;
    font-family: Nunito Sans;
    font-size: 12px;
    color: #7E8A98;
    line-height: 18px;
  }

  .form-ul a {
    color: #19C1CE;
  }

  form > button {
    background-color: #F2BF4E;
    border: 1px solid #F2BF4E;
    width: 281px;
    padding: 8px 24px;
    color: #212429;
    font-family: Nunito Sans;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
  }

  form > span {
    width: 281px;
    background: #212429;
    left: calc(50% - 281px/2);
    height: 4px;
  }

  .section-after-form {
    background-color: #0B485B;
    margin-bottom: 40px;
    color: #FFFFFF;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-after-form > h2 {
    font-family: Darker Grotesque;
    font-size: 24px;
    font-weight: 900;
    line-height: 26px;
    margin-bottom: 16px;
    width: 328px;
    margin-top: 40px;
  }

  .section-after-form p {
    font-family: Nunito Sans;
    font-size: 16px;
    line-height: 24px;
    width: 320px;
    margin-bottom: 20px;
  }

  .section-results {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-results h3 {
    color: #000000;
    font-family: Darker Grotesque;
    font-size: 24px;
    font-weight: 900;
    line-height: 26px;
    margin-bottom: 8px;
    width: 320px;
  }

  .section-results p {
    margin-bottom: 24px;
    font-family: Nunito Sans;
    font-size: 14px;
    color: #212429;
    width: 328px;
  }

  .section-results ul {
    margin-bottom: 40px;
    width: 350px;
    list-style-type: none;
  }

  .img-results-li {
    margin-right: 15px;
  }

  .section-results ul li {
    font-family: Nunito Sans;
    font-size: 16px;
    color: #212429;
    line-height: 24px;
    width: 307px;
  }

  .section-results ul li a {
    color: #19C1CE;
  }

  .section-results > img {
    width: 80%;
    margin-top: 0;
    margin-bottom: 40px;
    margin-right: 50px;
  }

  .section-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-cards h2 {
    font-family: Darker Grotesque;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    width: 328px;
    color: #212429;
    margin-bottom: 20px;
  }

  .section-cards article {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
    border-radius: 2px;
    padding: 24px;
    margin-bottom: 20px;
    align-items: center;
    width: 328px;
  }

  .section-cards article img {
    width: 48px;
    background-color: #F1F3F5;
    border-radius: 100%;
    margin-bottom: 10px;
  }

  .section-cards article h4 {
    font-family: Darker Grotesque;
    font-size: 24px;
    font-weight: 900;
    line-height: 26px;
    width: 280px;
    color: #212429;
    margin-bottom: 20px;
  }

  .section-cards article p {
    font-family: Nunito Sans;
    font-size: 16px;
    color: #212429;
    line-height: 24px;
    width: 280px;
  }

  .section-before-video {
    background-color: #0B485B;;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 64px;
  }

  .section-before-video h2 {
    font-family: Darker Grotesque;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    width: 296px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }

  .section-before-video p {
    font-family: Nunito Sans;
    font-size: 16px;
    line-height: 24px;
    width: 296px;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
  }

  .section-before-video a {
    background-color: #F2BF4E;
    border: 1px solid #F2BF4E;
    width: 215px;
    padding: 8px 16px;
    color: #212429;
    font-family: Nunito Sans;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.04em;
  }

  .section-before-video span {
    width: 215px;
    background: #212429;
    left: calc(50% - 281px/2);
    height: 4px;
    margin-bottom: 40px;
  }

  .section-video {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-video h3 {
    font-family: Darker Grotesque;
    font-size: 24px;
    font-weight: 900;
    line-height: 26px;
    width: 328px;
    color: #212429;
    margin-bottom: 20px;
  }

  .section-video p {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    width: 271px;
    color: #212429;
    text-align: center;
    border: 2px solid #212429;
    padding: 2px 4px;
  }
  .section-video p img {
    margin-left: 10px;
    transform: translateY(3px);
  }

  .section-video span {
    width: 271px;
    background: #212429;
    left: calc(50% - 281px/2);
    height: 4px;
    margin-bottom: 20px;
  }

  .section-video iframe {
    width: 328px;
    height: 184px;
  }

  .section-companies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  .section-companies-div-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-companies-div-1 h3 {
    font-family: Darker Grotesque;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    width: 328px;
    color: #212429;
    margin-bottom: 20px;
  }

  .section-companies-div-1 p {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 328px;
    color: #212429;
    margin-bottom: 30px;
  }

  .section-companies-div-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 328px;
    align-items: center;
  }

  .section-companies-div-2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 110px;
  }

  .section-companies-div-2 div img {
    width: 40px;
    margin-bottom: 8px;
  }

  .section-companies-div-2 div p {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
  }

  .section-companies a {
    background-color: #19C1CE;
    border: 1px solid #19C1CE;
    text-decoration: none;
    padding: 8px 24px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    color: #212429;
    width: 256px;
    text-align: center;
  }

  .section-companies span {
    width: 256px;
    background: #212429;
    left: calc(50% - 281px/2);
    height: 4px;
    margin-bottom: 20px;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #19C1CE;
  }

  footer > img {
    margin: 20px 0;
    width: 220px;
    border-bottom: 1px solid #78EDF2;
    padding: 20px 60px;
  }

  footer div {
    width: 290px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  footer p {
    margin-bottom: 50px;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #212429;
    width: 274px;
  }

  footer p a {
    color: #212429;
  }
}
